body {
  color: black;
}

img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
}

p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  background-color: blue;
  height: 60px;
}

.input {
  height: 36px;
  width: 250px;
  padding-left: 6px;
  border-radius: 12px;
}

.button {
  height: 36px;
  border-radius: 12px;
  cursor: pointer;
}
.container {
  padding: 15px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  // align-items: center;
  // justify-content: center;
  &-item {
    display: flex;
    flex-direction: column;
  }
}
.gallery__link {
  display: flex;
  width: calc((100% - 75px) / 4);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.gallery-item__img {
  display: block;
  height: 40vh;
  object-fit: cover;
}
.info {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding: 4px 8px;
}

.info-item {
  color: black;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
